body{
    font-family:fantasy !important;
}
.main{
    text-align: center;
    border: 1px solid white;
    padding: 20px;
}
.button{
    text-align: center;
}
.card{
    background:linear-gradient(15deg,rgb(252, 158, 205),rgb(224, 198, 241),rgb(158, 158, 255)) !important;
    padding: 20px;
    width: 50%;
    margin: 100px auto;
    box-shadow: 0 0 10px gray;
}

.btn{
    margin-top: 6px;
    width: 135px;
    background-color: rgb(36, 35, 35) !important;
}